In [1]:
ls;

PracticeProblem3_instructions.md  chicago.csv
Untitled.ipynb                    filter_data.py

In [2]:
import pandas as pd

In [3]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [6]:
city = "chicago"

In [10]:
df = pd.read_csv(city+".csv")

In [11]:
df

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-05-29 18:36:27,2017-05-29 18:49:27,780,Columbus Dr & Randolph St,Federal St & Polk St,Subscriber,Male,1991.0
1,2017-06-12 19:00:33,2017-06-12 19:24:22,1429,Kingsbury St & Erie St,Orleans St & Merchandise Mart Plaza,Customer,NaN,NaN
2,2017-02-13 17:02:02,2017-02-13 17:20:10,1088,Canal St & Madison St,Paulina Ave & North Ave,Subscriber,Female,1982.0
3,2017-04-24 18:39:45,2017-04-24 18:54:59,914,Spaulding Ave & Armitage Ave,California Ave & Milwaukee Ave,Subscriber,Male,1966.0
4,2017-01-26 15:36:07,2017-01-26 15:43:21,434,Clark St & Randolph St,Financial Pl & Congress Pkwy,Subscriber,Female,1983.0
5,2017-06-21 09:43:54,2017-06-21 10:01:31,1057,Ogden Ave & Race Ave,Franklin St & Monroe St,Subscriber,Female,1981.0
6,2017-04-24 08:33:31,2017-04-24 08:38:47,316,Clinton St & Washington Blvd,Morgan St & Lake St,Subscriber,Male,1986.0
7,2017-03-21 07:23:58,2017-03-21 07:33:17,559,Canal St & Adams St,Michigan Ave & Lake St,Subscriber,Male,1969.0
8,2017-01-14 12:16:20,2017-01-14 12:58:17,2517,Wentworth Ave & Archer Ave,Franklin St & Jackson Blvd,Customer,NaN,NaN
9,2017-04-06 09:15:52,2017-04-06 09:22:11,379,Canal St & Madison St,Clark St & Lake St,Subscriber,Male,1982.0
10,2017-06-13 17:02:44,2017-06-13 17:08:17,333,State St & Kinzie St,Stetson Ave & South Water St,Subscriber,Male,1963.0
11,2017-03-09 09:15:39,2017-03-09 09:18:56,197,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Male,1986.0
12,2017-03-22 06:54:00,2017-03-22 06:59:02,302,Larrabee St & Division St,Clark St & Elm St,Subscriber,Female,1990.0
13,2017-02-21 17:51:52,2017-02-21 17:55:03,191,Ashland Ave & Division St,Damen Ave & Division St,Subscriber,Male,1979.0
14,2017-03-13 13:19:26,2017-03-13 13:27:35,489,LaSalle St & Washington St,Sangamon St & Washington Blvd (*),Subscriber,Male,1972.0
15,2017-04-04 23:12:25,2017-04-04 23:25:56,811,Sheffield Ave & Webster Ave,Halsted St & Roscoe St,Subscriber,Male,1990.0
16,2017-04-05 19:28:40,2017-04-05 19:35:59,439,Orleans St & Merchandise Mart Plaza,Clinton St & Washington Blvd,Subscriber,Male,1957.0
17,2017-05-15 15:49:46,2017-05-15 15:57:25,459,Southport Ave & Irving Park Rd,Lincoln Ave & Roscoe St,Subscriber,Male,1962.0
18,2017-02-18 15:23:05,2017-02-18 15:54:18,1873,Central St & Girard Ave,Central St & Girard Ave,Subscriber,Male,1982.0
19,2017-04-02 13:21:17,2017-04-02 13:30:55,578,Kingsbury St & Kinzie St,Wells St & Elm St,Subscriber,Male,1965.0
20,2017-06-20 11:38:18,2017-06-20 11:51:54,816,State St & Pearson St,Clinton St & Madison St,Subscriber,Male,1987.0
21,2017-02-01 08:49:24,2017-02-01 09:06:49,1045,Clinton St & 18th St,Clinton St & Washington Blvd,Subscriber,Female,1985.0
22,2017-04-11 11:22:42,2017-04-11 11:40:22,1060,Loomis St & Jackson Blvd,Clark St & Lake St,Subscriber,Male,1974.0
23,2017-05-21 12:07:47,2017-05-21 12:13:46,359,Orleans St & Merchandise Mart Plaza,Green St & Randolph St,Subscriber,Male,1991.0
24,2017-06-28 21:07:24,2017-06-28 21:21:57,873,Paulina Ave & North Ave,Troy St & North Ave,Subscriber,Female,1994.0
25,2017-02-08 17:33:43,2017-02-08 17:38:57,314,Wabash Ave & 16th St,Wabash Ave & Roosevelt Rd,Subscriber,Female,1984.0
26,2017-06-24 21:58:46,2017-06-24 22:22:28,1422,Adler Planetarium,State St & Randolph St,Customer,NaN,NaN
27,2017-05-23 08:18:01,2017-05-23 08:33:06,905,Ogden Ave & Race Ave,Daley Center Plaza,Subscriber,Female,1984.0
28,2017-06-07 12:30:44,2017-06-07 12:44:48,844,Columbus Dr & Randolph St,Clinton St & Jackson Blvd,Subscriber,Male,1957.0
29,2017-04-04 14:12:57,2017-04-04 14:16:54,237,California Ave & Milwaukee Ave,Stave St & Armitage Ave,Subscriber,Male,1957.0
...,...,...,...,...,...,...,...,...
370,2017-01-25 08:41:58,2017-01-25 08:45:53,235,Sangamon St & Washington Blvd (*),Clinton St & Madison St,Subscriber,Male,1985.0
371,2017-06-07 17:38:27,2017-06-07 17:45:28,421,Michigan Ave & Washington St,Wacker Dr & Washington St,Subscriber,Male,1963.0
372,2017-03-23 13:21:51,2017-03-23 13:32:46,655,Dearborn St & Adams St,Rush St & Superior St,Subscriber,Female,1971.0
373,2017-05-22 06:45:24,2017-05-22 06:55:15,591,Campbell Ave & Montrose Ave,Damen Ave & Sunnyside Ave,Subscriber,Female,1973.0
374,2017-04-15 15:47:57,2017-04-15 16:04:28,991,Dearborn Pkwy & Delaware Pl,Halsted St & Wrightwood Ave,Customer,NaN,NaN
375,2017-06-24 16:48:07,2017-06-24 16:56:22,495,State St & Pearson St,McClurg Ct & Illinois St,Subscriber,Male,1984.0
376,2017-05-19 07:15:41,2017-05-19 07:21:17,336,Clinton St & Washington Blvd,Michigan Ave & Washington St,Subscriber,Male,1965.0
377,2017-06-27 16:10:55,2017-06-27 16:24:48,833,Marshfield Ave & Cortland St,Clark St & Armitage Ave,Customer,NaN,NaN
378,2017-06-16 17:17:23,2017-06-16 17:22:25,302,Racine Ave & Fullerton Ave,Ashland Ave & Wrightwood Ave,Subscriber,Female,1980.0
379,2017-03-20 08:28:01,2017-03-20 08:46:03,1082,Michigan Ave & 14th St,Stetson Ave & South Water St,Subscriber,Male,1973.0
380,2017-06-25 19:03:43,2017-06-26 08:16:14,47551,Lincoln Ave & Diversey Pkwy,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1985.0
381,2017-06-05 07:19:18,2017-06-05 07:24:51,333,Cannon Dr & Fullerton Ave,Clark St & Wrightwood Ave,Subscriber,Male,1982.0
382,2017-04-27 12:46:12,2017-04-27 12:54:03,471,Wells St & Huron St,Michigan Ave & Lake St,Subscriber,Male,1972.0
383,2017-06-21 20:06:34,2017-06-21 20:25:10,1116,Wabash Ave & Wacker Pl,Morgan St & Lake St,Customer,NaN,NaN
384,2017-05-29 09:47:20,2017-05-29 10:14:31,1631,Benson Ave & Church St,University Library (NU),Customer,NaN,NaN
385,2017-01-15 19:34:35,2017-01-15 19:41:52,437,Clinton St & Madison St,Racine Ave (May St) & Fulton St,Subscriber,Male,1978.0
386,2017-06-22 08:20:15,2017-06-22 08:43:22,1387,Michigan Ave & Oak St,Desplaines St & Jackson Blvd,Subscriber,Male,1985.0
387,2017-02-07 14:36:00,2017-02-07 14:41:44,344,Kingsbury St & Kinzie St,LaSalle St & Washington St,Subscriber,Male,1966.0
388,2017-06-03 00:18:58,2017-06-03 00:41:19,1341,Wabash Ave & Cermak Rd,Indiana Ave & 31st St,Customer,NaN,NaN
389,2017-04-15 12:38:56,2017-04-15 12:56:52,1076,Adler Planetarium,Dusable Harbor,Subscriber,Male,1958.0
390,2017-01-26 12:16:01,2017-01-26 12:31:19,918,Kedzie Ave & 21st St,Ogden Ave & Roosevelt Rd,Subscriber,Male,1949.0
391,2017-05-21 19:17:39,2017-05-21 19:22:12,273,Ashland Ave & Division St,Paulina Ave & North Ave,Subscriber,Male,1989.0
392,2017-04-08 18:39:53,2017-04-08 19:00:19,1226,Streeter Dr & Grand Ave,Dearborn Pkwy & Delaware Pl,Customer,NaN,NaN
393,2017-06-06 05:54:58,2017-06-06 05:59:56,298,McClurg Ct & Illinois St,State St & Kinzie St,Subscriber,Female,1971.0
394,2017-03-29 17:00:33,2017-03-29 17:04:43,250,Broadway & Wilson Ave,Sheridan Rd & Montrose Ave,Subscriber,Male,1993.0
395,2017-02-06 13:34:32,2017-02-06 13:41:35,423,Jefferson St & Monroe St,Racine Ave & Randolph St,Subscriber,Male,1973.0
396,2017-05-22 16:44:08,2017-05-22 16:48:05,237,Clark St & Randolph St,Clinton St & Washington Blvd,Subscriber,Male,1959.0
397,2017-06-09 17:03:44,2017-06-09 17:24:30,1246,Streeter Dr & Grand Ave,Michigan Ave & Lake St,Customer,NaN,NaN
398,2017-05-16 08:14:27,2017-05-16 08:28:24,837,Wabash Ave & 16th St,Daley Center Plaza,Subscriber,Male,1988.0
399,2017-05-16 12:48:34,2017-05-16 12:58:17,583,Larrabee St & Kingsbury St,Sangamon St & Washington Blvd (*),Subscriber,Male,1990.0

In [12]:
df['Start Time'] = pd.to_datetime(df['Start Time'])

In [14]:
df.datatypes()

AttributeError: 'DataFrame' object has no attribute 'datatypes'

In [15]:
df.dtypes

Start Time       datetime64[ns]
End Time                 object
Trip Duration             int64
Start Station            object
End Station              object
User Type                object
Gender                   object
Birth Year              float64
dtype: object

In [16]:
df['month'] =  df['Start Time'].dt.month

In [17]:
df['month']

0      5
1      6
2      2
3      4
4      1
5      6
6      4
7      3
8      1
9      4
10     6
11     3
12     3
13     2
14     3
15     4
16     4
17     5
18     2
19     4
20     6
21     2
22     4
23     5
24     6
25     2
26     6
27     5
28     6
29     4
      ..
370    1
371    6
372    3
373    5
374    4
375    6
376    5
377    6
378    6
379    3
380    6
381    6
382    4
383    6
384    5
385    1
386    6
387    2
388    6
389    4
390    1
391    5
392    4
393    6
394    3
395    2
396    5
397    6
398    5
399    5
Name: month, Length: 400, dtype: int64

In [18]:
df['day_of_week'] = df['Start Time'].dt.dayofweek

In [19]:
df['day_of_week']

0      0
1      0
2      0
3      0
4      3
5      2
6      0
7      1
8      5
9      3
10     1
11     3
12     2
13     1
14     0
15     1
16     2
17     0
18     5
19     6
20     1
21     2
22     1
23     6
24     2
25     2
26     5
27     1
28     2
29     1
      ..
370    2
371    2
372    3
373    0
374    5
375    5
376    4
377    1
378    4
379    0
380    6
381    0
382    3
383    2
384    0
385    6
386    3
387    1
388    5
389    5
390    3
391    6
392    5
393    1
394    2
395    0
396    0
397    4
398    1
399    1
Name: day_of_week, Length: 400, dtype: int64

In [20]:
months = ['january', 'february', 'march', 'april', 'may', 'june']

In [21]:
month = 'march'

In [22]:
df = df[(df['month'] == month)]

/Users/andrewviren/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

In [23]:
df = df[(df['month'] == months[month])]

TypeError: list indices must be integers or slices, not str

In [24]:
months[month]

TypeError: list indices must be integers or slices, not str

In [25]:
months

['january', 'february', 'march', 'april', 'may', 'june']

In [26]:
month in months

True

In [27]:
months.index(month)

2

In [32]:
df[(df['month'] == month_index)]

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
7,2017-03-21 07:23:58,2017-03-21 07:33:17,559,Canal St & Adams St,Michigan Ave & Lake St,Subscriber,Male,1969.0,3,1
11,2017-03-09 09:15:39,2017-03-09 09:18:56,197,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Male,1986.0,3,3
12,2017-03-22 06:54:00,2017-03-22 06:59:02,302,Larrabee St & Division St,Clark St & Elm St,Subscriber,Female,1990.0,3,2
14,2017-03-13 13:19:26,2017-03-13 13:27:35,489,LaSalle St & Washington St,Sangamon St & Washington Blvd (*),Subscriber,Male,1972.0,3,0
31,2017-03-29 06:57:27,2017-03-29 07:03:21,354,Oakley Ave & Irving Park Rd,Talman Ave & Addison St,Subscriber,Male,1979.0,3,2
38,2017-03-02 13:43:22,2017-03-02 13:47:40,258,Broadway & Berwyn Ave,Clark St & Berwyn Ave,Customer,NaN,NaN,3,3
40,2017-03-24 13:06:37,2017-03-24 13:10:44,247,Broadway & Berwyn Ave,Clark St & Berwyn Ave,Subscriber,Female,1961.0,3,4
54,2017-03-18 11:06:21,2017-03-18 11:14:41,500,Wabash Ave & Grand Ave,Wells St & Walton St,Subscriber,Male,1967.0,3,5
59,2017-03-03 07:55:48,2017-03-03 07:57:41,113,Clark St & Chicago Ave,Wells St & Huron St,Subscriber,Male,1981.0,3,4
63,2017-03-16 21:08:28,2017-03-16 21:39:51,1883,Rush St & Cedar St,Wabash Ave & Cermak Rd,Subscriber,Female,1992.0,3,3
68,2017-03-17 12:14:50,2017-03-17 12:22:38,468,Dearborn Pkwy & Delaware Pl,State St & Randolph St,Subscriber,Female,1984.0,3,4
73,2017-03-28 08:11:45,2017-03-28 08:15:26,221,Lincoln Ave & Diversey Pkwy,Sheffield Ave & Fullerton Ave,Subscriber,Male,1984.0,3,1
75,2017-03-10 13:40:54,2017-03-10 13:45:09,255,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Female,1983.0,3,4
78,2017-03-29 18:29:28,2017-03-29 18:38:15,527,Wells St & Huron St,Clinton St & Washington Blvd,Subscriber,Male,1956.0,3,2
83,2017-03-24 14:15:43,2017-03-24 14:27:04,681,Sheridan Rd & Lawrence Ave,Broadway & Thorndale Ave,Subscriber,Male,1984.0,3,4
104,2017-03-20 18:05:10,2017-03-20 18:10:06,296,Franklin St & Monroe St,State St & Randolph St,Subscriber,Male,1984.0,3,0
115,2017-03-02 17:39:06,2017-03-02 17:55:43,997,LaSalle St & Jackson Blvd,McClurg Ct & Illinois St,Subscriber,Male,1953.0,3,3
126,2017-03-24 12:39:19,2017-03-24 12:52:11,772,Michigan Ave & Oak St,Cannon Dr & Fullerton Ave,Subscriber,Male,1993.0,3,4
133,2017-03-19 15:26:50,2017-03-19 15:32:38,348,Pine Grove Ave & Irving Park Rd,Sheridan Rd & Montrose Ave,Subscriber,Female,1994.0,3,6
145,2017-03-14 15:23:49,2017-03-14 15:32:10,501,Clinton St & Lake St,Clinton St & Jackson Blvd,Subscriber,Male,1983.0,3,1
156,2017-03-07 17:35:15,2017-03-07 17:43:15,480,Glenwood Ave & Morse Ave,Paulina St & Howard St,Subscriber,Female,1990.0,3,1
169,2017-03-18 15:08:09,2017-03-18 15:17:40,571,Southport Ave & Roscoe St,Broadway & Waveland Ave,Subscriber,Male,1952.0,3,5
224,2017-03-31 19:11:12,2017-03-31 19:18:53,461,Damen Ave & Cortland St,Damen Ave & Pierce Ave,Subscriber,Male,1989.0,3,4
237,2017-03-07 18:17:23,2017-03-07 18:26:12,529,Ellis Ave & 58th St,Shore Dr & 55th St,Subscriber,Female,1987.0,3,1
238,2017-03-07 14:34:53,2017-03-07 14:41:52,419,Clinton St & Roosevelt Rd,Morgan St & 18th St,Subscriber,Male,1981.0,3,1
247,2017-03-10 08:21:05,2017-03-10 08:23:28,143,Damen Ave & Division St,Ashland Ave & Division St,Subscriber,Male,1991.0,3,4
256,2017-03-28 17:31:15,2017-03-28 17:36:50,335,Marshfield Ave & Cortland St,Western Ave & Winnebago Ave,Subscriber,Female,1986.0,3,1
277,2017-03-15 18:21:45,2017-03-15 18:41:35,1190,Wood St & Milwaukee Ave,Troy St & Elston Ave,Subscriber,Male,1982.0,3,2
289,2017-03-13 16:35:04,2017-03-13 16:43:08,484,Ada St & Washington Blvd,Desplaines St & Kinzie St,Subscriber,Male,1986.0,3,0
290,2017-03-24 10:55:53,2017-03-24 11:01:27,334,Wacker Dr & Washington St,LaSalle St & Jackson Blvd,Subscriber,Male,1961.0,3,4
299,2017-03-08 06:16:06,2017-03-08 06:19:04,178,Jefferson St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1982.0,3,2
328,2017-03-18 13:44:02,2017-03-18 14:35:46,3104,Wabash Ave & Roosevelt Rd,Dusable Harbor,Subscriber,Male,1977.0,3,5
337,2017-03-06 08:07:01,2017-03-06 08:21:46,885,Ashland Ave & Division St,Michigan Ave & Lake St,Subscriber,Male,1991.0,3,0
343,2017-03-17 17:51:31,2017-03-17 18:00:16,525,Milwaukee Ave & Grand Ave,State St & Pearson St,Subscriber,Male,1989.0,3,4
348,2017-03-31 07:47:14,2017-03-31 07:55:38,504,Canal St & Madison St,Wabash Ave & Adams St,Subscriber,Male,1953.0,3,4
353,2017-03-21 10:36:27,2017-03-21 10:54:41,1094,Michigan Ave & 18th St,Field Museum,Customer,NaN,NaN,3,1
354,2017-03-23 16:49:39,2017-03-23 17:07:04,1045,Wolcott Ave & Polk St,Dearborn St & Monroe St,Subscriber,Male,1973.0,3,3
372,2017-03-23 13:21:51,2017-03-23 13:32:46,655,Dearborn St & Adams St,Rush St & Superior St,Subscriber,Female,1971.0,3,3
379,2017-03-20 08:28:01,2017-03-20 08:46:03,1082,Michigan Ave & 14th St,Stetson Ave & South Water St,Subscriber,Male,1973.0,3,0
394,2017-03-29 17:00:33,2017-03-29 17:04:43,250,Broadway & Wilson Ave,Sheridan Rd & Montrose Ave,Subscriber,Male,1993.0,3,2

In [34]:
month_num = months.index(month)+1

In [35]:
df = df[(df['month'] == month_num)]

In [37]:
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']

In [38]:
day = 'friday'day

In [41]:
df = df[(df['day_of_week'] == day)]

/Users/andrewviren/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

In [46]:
df

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
7,2017-03-21 07:23:58,2017-03-21 07:33:17,559,Canal St & Adams St,Michigan Ave & Lake St,Subscriber,Male,1969.0,3,1
11,2017-03-09 09:15:39,2017-03-09 09:18:56,197,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Male,1986.0,3,3
12,2017-03-22 06:54:00,2017-03-22 06:59:02,302,Larrabee St & Division St,Clark St & Elm St,Subscriber,Female,1990.0,3,2
14,2017-03-13 13:19:26,2017-03-13 13:27:35,489,LaSalle St & Washington St,Sangamon St & Washington Blvd (*),Subscriber,Male,1972.0,3,0
31,2017-03-29 06:57:27,2017-03-29 07:03:21,354,Oakley Ave & Irving Park Rd,Talman Ave & Addison St,Subscriber,Male,1979.0,3,2
38,2017-03-02 13:43:22,2017-03-02 13:47:40,258,Broadway & Berwyn Ave,Clark St & Berwyn Ave,Customer,NaN,NaN,3,3
40,2017-03-24 13:06:37,2017-03-24 13:10:44,247,Broadway & Berwyn Ave,Clark St & Berwyn Ave,Subscriber,Female,1961.0,3,4
54,2017-03-18 11:06:21,2017-03-18 11:14:41,500,Wabash Ave & Grand Ave,Wells St & Walton St,Subscriber,Male,1967.0,3,5
59,2017-03-03 07:55:48,2017-03-03 07:57:41,113,Clark St & Chicago Ave,Wells St & Huron St,Subscriber,Male,1981.0,3,4
63,2017-03-16 21:08:28,2017-03-16 21:39:51,1883,Rush St & Cedar St,Wabash Ave & Cermak Rd,Subscriber,Female,1992.0,3,3
68,2017-03-17 12:14:50,2017-03-17 12:22:38,468,Dearborn Pkwy & Delaware Pl,State St & Randolph St,Subscriber,Female,1984.0,3,4
73,2017-03-28 08:11:45,2017-03-28 08:15:26,221,Lincoln Ave & Diversey Pkwy,Sheffield Ave & Fullerton Ave,Subscriber,Male,1984.0,3,1
75,2017-03-10 13:40:54,2017-03-10 13:45:09,255,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Female,1983.0,3,4
78,2017-03-29 18:29:28,2017-03-29 18:38:15,527,Wells St & Huron St,Clinton St & Washington Blvd,Subscriber,Male,1956.0,3,2
83,2017-03-24 14:15:43,2017-03-24 14:27:04,681,Sheridan Rd & Lawrence Ave,Broadway & Thorndale Ave,Subscriber,Male,1984.0,3,4
104,2017-03-20 18:05:10,2017-03-20 18:10:06,296,Franklin St & Monroe St,State St & Randolph St,Subscriber,Male,1984.0,3,0
115,2017-03-02 17:39:06,2017-03-02 17:55:43,997,LaSalle St & Jackson Blvd,McClurg Ct & Illinois St,Subscriber,Male,1953.0,3,3
126,2017-03-24 12:39:19,2017-03-24 12:52:11,772,Michigan Ave & Oak St,Cannon Dr & Fullerton Ave,Subscriber,Male,1993.0,3,4
133,2017-03-19 15:26:50,2017-03-19 15:32:38,348,Pine Grove Ave & Irving Park Rd,Sheridan Rd & Montrose Ave,Subscriber,Female,1994.0,3,6
145,2017-03-14 15:23:49,2017-03-14 15:32:10,501,Clinton St & Lake St,Clinton St & Jackson Blvd,Subscriber,Male,1983.0,3,1
156,2017-03-07 17:35:15,2017-03-07 17:43:15,480,Glenwood Ave & Morse Ave,Paulina St & Howard St,Subscriber,Female,1990.0,3,1
169,2017-03-18 15:08:09,2017-03-18 15:17:40,571,Southport Ave & Roscoe St,Broadway & Waveland Ave,Subscriber,Male,1952.0,3,5
224,2017-03-31 19:11:12,2017-03-31 19:18:53,461,Damen Ave & Cortland St,Damen Ave & Pierce Ave,Subscriber,Male,1989.0,3,4
237,2017-03-07 18:17:23,2017-03-07 18:26:12,529,Ellis Ave & 58th St,Shore Dr & 55th St,Subscriber,Female,1987.0,3,1
238,2017-03-07 14:34:53,2017-03-07 14:41:52,419,Clinton St & Roosevelt Rd,Morgan St & 18th St,Subscriber,Male,1981.0,3,1
247,2017-03-10 08:21:05,2017-03-10 08:23:28,143,Damen Ave & Division St,Ashland Ave & Division St,Subscriber,Male,1991.0,3,4
256,2017-03-28 17:31:15,2017-03-28 17:36:50,335,Marshfield Ave & Cortland St,Western Ave & Winnebago Ave,Subscriber,Female,1986.0,3,1
277,2017-03-15 18:21:45,2017-03-15 18:41:35,1190,Wood St & Milwaukee Ave,Troy St & Elston Ave,Subscriber,Male,1982.0,3,2
289,2017-03-13 16:35:04,2017-03-13 16:43:08,484,Ada St & Washington Blvd,Desplaines St & Kinzie St,Subscriber,Male,1986.0,3,0
290,2017-03-24 10:55:53,2017-03-24 11:01:27,334,Wacker Dr & Washington St,LaSalle St & Jackson Blvd,Subscriber,Male,1961.0,3,4
299,2017-03-08 06:16:06,2017-03-08 06:19:04,178,Jefferson St & Monroe St,Clinton St & Tilden St,Subscriber,Male,1982.0,3,2
328,2017-03-18 13:44:02,2017-03-18 14:35:46,3104,Wabash Ave & Roosevelt Rd,Dusable Harbor,Subscriber,Male,1977.0,3,5
337,2017-03-06 08:07:01,2017-03-06 08:21:46,885,Ashland Ave & Division St,Michigan Ave & Lake St,Subscriber,Male,1991.0,3,0
343,2017-03-17 17:51:31,2017-03-17 18:00:16,525,Milwaukee Ave & Grand Ave,State St & Pearson St,Subscriber,Male,1989.0,3,4
348,2017-03-31 07:47:14,2017-03-31 07:55:38,504,Canal St & Madison St,Wabash Ave & Adams St,Subscriber,Male,1953.0,3,4
353,2017-03-21 10:36:27,2017-03-21 10:54:41,1094,Michigan Ave & 18th St,Field Museum,Customer,NaN,NaN,3,1
354,2017-03-23 16:49:39,2017-03-23 17:07:04,1045,Wolcott Ave & Polk St,Dearborn St & Monroe St,Subscriber,Male,1973.0,3,3
372,2017-03-23 13:21:51,2017-03-23 13:32:46,655,Dearborn St & Adams St,Rush St & Superior St,Subscriber,Female,1971.0,3,3
379,2017-03-20 08:28:01,2017-03-20 08:46:03,1082,Michigan Ave & 14th St,Stetson Ave & South Water St,Subscriber,Male,1973.0,3,0
394,2017-03-29 17:00:33,2017-03-29 17:04:43,250,Broadway & Wilson Ave,Sheridan Rd & Montrose Ave,Subscriber,Male,1993.0,3,2

In [47]:
month_num

3

In [56]:
df

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
40,2017-03-24 13:06:37,2017-03-24 13:10:44,247,Broadway & Berwyn Ave,Clark St & Berwyn Ave,Subscriber,Female,1961.0,3,4
59,2017-03-03 07:55:48,2017-03-03 07:57:41,113,Clark St & Chicago Ave,Wells St & Huron St,Subscriber,Male,1981.0,3,4
68,2017-03-17 12:14:50,2017-03-17 12:22:38,468,Dearborn Pkwy & Delaware Pl,State St & Randolph St,Subscriber,Female,1984.0,3,4
75,2017-03-10 13:40:54,2017-03-10 13:45:09,255,Clark St & Lake St,Rush St & Hubbard St,Subscriber,Female,1983.0,3,4
83,2017-03-24 14:15:43,2017-03-24 14:27:04,681,Sheridan Rd & Lawrence Ave,Broadway & Thorndale Ave,Subscriber,Male,1984.0,3,4
126,2017-03-24 12:39:19,2017-03-24 12:52:11,772,Michigan Ave & Oak St,Cannon Dr & Fullerton Ave,Subscriber,Male,1993.0,3,4
224,2017-03-31 19:11:12,2017-03-31 19:18:53,461,Damen Ave & Cortland St,Damen Ave & Pierce Ave,Subscriber,Male,1989.0,3,4
247,2017-03-10 08:21:05,2017-03-10 08:23:28,143,Damen Ave & Division St,Ashland Ave & Division St,Subscriber,Male,1991.0,3,4
290,2017-03-24 10:55:53,2017-03-24 11:01:27,334,Wacker Dr & Washington St,LaSalle St & Jackson Blvd,Subscriber,Male,1961.0,3,4
343,2017-03-17 17:51:31,2017-03-17 18:00:16,525,Milwaukee Ave & Grand Ave,State St & Pearson St,Subscriber,Male,1989.0,3,4
348,2017-03-31 07:47:14,2017-03-31 07:55:38,504,Canal St & Madison St,Wabash Ave & Adams St,Subscriber,Male,1953.0,3,4

In [57]:
filter_data.py

NameError: name 'filter_data' is not defined